<a class="nav-item nav-link ml-lg-3 {% if active == 'navLinkHome' %}active{% endif %}" href="/">
    Home
    {% if active == 'navLinkHome' %}<span class="sr-only">(current)</span>{% endif %}
</a>

<a class="nav-item nav-link ml-lg-3 {% if active == 'navLinkMenu' %}active{% endif %}" href="/menu">
    Menu
    {% if active == 'navLinkMenu' %}<span class="sr-only">(current)</span>{% endif %}
</a>

<a class="nav-item nav-link ml-lg-3 {% if active == 'navLinkCoffee' %}active{% endif %}" href="/coffee">
    Coffee
    {% if active == 'navLinkCoffee' %}<span class="sr-only">(current)</span>{% endif %}
</a>

<a class="nav-item nav-link ml-lg-3 {% if active == 'navLinkOurStory' %}active{% endif %}" href="/our-story">
    Our Story
    {% if active == 'navLinkOurStory' %}<span class="sr-only">(current)</span>{% endif %}
</a>
