{% extends '_base.twig' %}


{% block all %}
    {% set active = 'navLinkOurStory' %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <h1>Our story</h1>
                <p class="lead">GHC started as a project of two friends and passionate baristas, John & Don in 2010.</p>

                <p class="lead">Believing as much in the hand of an educated barista as in the innovative equipment of the our ever-growing industry, GHC offers a full spectrum of brewing opportunities – from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made with love, precision and care.</p>

                <img src="/img/espresso-machine.jpg" alt="Espresso machine" class="img-fluid ghc-mb-n-2">
            </div>
        </div>
    </div>
{% endblock %}